
body,html{ padding: 0;margin: 0;
font-family: 'proxima_nova';
overflow: hidden;
}

.main,.header{
    width: 760px;
    background: yellow;
}

.header{ background: #F7F7F7; height: 49px; margin-bottom: 0;}
.header .container{ width: 100%; }
.header .navbars {
    width: 536px;
    position: absolute;
    top: 13px;
    left: 206px;
}

.header .navbars > li > a { 
    padding: 24px 10px;
    position: relative;
    z-index: 3;
    color:black;
   font-size: 14px;
}

.header .navbars > li{ 
    list-style: none;
    display: inline;
}



.content{
    width: 760px;
}
.content .bg {
    background: url('../img/images/background.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 174px;
}

.main .bg { background: url('../img/images/background.jpg') no-repeat;background-size:cover;width: 100%; height: 147px;}

.main .container{ padding: 0; width: 100%;}
.main .bg { background: url('../img/images/background.jpg') no-repeat;background-size:cover; width: 100%; height: 147px;;}
.main .bg img{ margin: 0 auto; padding-top: 3em}
.main .container .content{
    background: url('../img/images/geometry.png');
    background-size: cover;
    display: block;
    height: 423px;
    box-shadow: -12px 0px 21px 0px black;
    z-index: 2;
    position: relative;
}
.main .container .content .bottom{
    width: 100%;
    background: #DEDEDE;
    height: 88px;
    position: relative;
   bottom: -82px;
    border-top: 2px solid #CFD1CF;
    text-align: center;
}

.main .container .content .bottom ul {
    list-style: none;
    display: inline-block;
    width: 100%;
    margin-top: 35px;
    padding: 0;
}
.main .container .content .bottom ul li{
    display: inline;
    background: #123B52;
    color: white;
    padding: 1em 3em;
    border-radius: 7px;
    margin: 1em;
    cursor: pointer;
    font-weight: 800;
}
.main .container .content .bottom ul li:hover{
    background: #1B5B7D;
}
.main .container .content .vote-now { text-align: center; position: relative; top: 32px;z-index: 5;}
.main .container .content .vote-now a{
    background: #FA395D;
    padding: 0.5em 3em;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 3px #000;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
}
.main .container .content .vote-now a:hover{
    background: #FC5170;
    box-shadow: 1px 2px 3px #000;
}

.main .container .content .vote-now a:active{
    box-shadow: -3px -2px 4px -1px #000; 
}

.page{
    width: 760px;
    box-shadow: 0px 0px 9px 0px;
    position: relative;
}

.page .mini-nav .col-lg-3 {
    width: 30%;
    float: right !important;
    margin-right: 103px;
}

.page .mini-nav {
    height: 58px;
    padding: 14px;
    background: transparent;
}
.page .mini-nav .reset {
    position: absolute;
    top: 30px;
    left: 34px;
    font-size: 14px;
    width: 14px;
    line-height: 11px;
}
.page .mini-nav .col-lg-3 .input-group .form-control{
    border-radius: 11px 0 0px 11px !important;height: 27px;width: 254px;
}

.page .mini-nav .col-lg-3 .input-group-btn > .btn{
    border-radius: 0px 9px 9px 0px;height: 27px;
    padding: 0px 11px;
}
.page .mini-nav ul.filters { 
    float: left;
    margin: 0 0 0 -30px;
}
.page .mini-nav ul.filters li{
    display: inline-block;
    cursor: pointer;
}

.page .mini-nav .nav{
    float: left;
}
.page .mini-nav .nav-tabs {
    border: none;
    position: absolute;
   left: 14px;
}
.page .mini-nav .nav-tabs > li > a{
    padding: 4px 13px 2px 11px;
    border: none;
    border-radius: 4px;
    color: #183470;
    font-weight: bold;
}
.page .mini-nav .nav-tabs > li > a:hover{
    background: #183470;
     color: white;
}
.page .mini-nav .nav-tabs > li.active > a{
    background: #183470;
     color: white;
}

.page .mini-nav .mini-area {
    display: none;
    float: left;
    position: relative;
    top: -5px;
    left: 6px;
    font-size: 12px;
    /*display: inline-block;*/
    width: 236px;
}

.page .mini-nav .mini-area select {
    margin: 4px 0 0 3px;
}

.page .page-content {
    height: 600px;
    margin-top: -42px;
  
    
}

.page .page-content .tab-content {
     height: 600px;
}
.page .page-content .tab-content .tab-pane{
    padding-top: 39px;
    height: 600px;
}
.page .page-content .tab-content #listView #container{
    padding: 10px 10px 0 10px; text-align: center;width: 736px !important; ;position: relative;  -webkit-transition: all 1s;}
.page .page-content .tab-content #listView #container .item{
    width: 208px;display: inline-block;margin: 12px 13px;cursor: pointer;float: left;
}
.page .page-content .tab-content #listView #container .item img.main-img {
    width: 208px; height: 163px;margin-top: -29px;
}
.page .page-content .tab-content #listView #container .item img.icon{
     position: relative;
    top: 15px;
    left: 70px;
}
.page .page-content .tab-content #listView .pagination{
    padding: 0px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: -4px;
    bottom: -11px;
}

#loadmore{
    width: 100%;
    display: block;
    cursor: pointer;
    font-size: 17px;
    background-color: #DBDBDB;
}
.page .page-content .tab-content #listView #container .item .title{
   background: #303D78; color: white; text-align: center; padding: 4px; overflow-wrap: break-word; height: 47px; 
   padding: 8px 5px;
    line-height: 20.5px;
}
.page .page-content .tab-content #listView {
    background-color:#F7F7F7;width: 761px;height: 519px;
}
.page .page-content .tab-content #mapView{
    
}

.page .gen {  font-size: 27px; text-align: center; padding: 16px 106px; }
.page .content-wrapper .fileupload { text-align:center; }
.page .content-wrapper .fileupload .thumbnail {width: 182px; margin: 0 auto;height: 100%;}
.page .content-wrapper .fileupload .btn-file {  cursor:pointer;text-align: center; background: rgb(254,0,54); width: 224px; margin: 10px; border-radius: 10px; color: white; font-weight: bold; font-size: 19px;  }
.page .content-wrapper .fileupload .btn-file .fileupload-new {  cursor:pointer; position: absolute; left: 44%;  }
.page .content-wrapper .fileupload .btn-file #photo {

    opacity: 0;
    cursor: pointer;
    width: 323px;
    margin-left: -126px;
}
.page .content-wrapper .fileupload button.btn-link {  background: rgb(29,46,62); color: white; padding: 7px 50px; font-size: 16px; font-weight: bold; border-radius: 12px; text-decoration: none;  }

.page  .under {  background: rgb(244,244,244); padding: 13px; text-align: center; margin: 14px 0px;  }

.page  .under .gen {
    font-size: 27px;
    text-align: center;
    padding: 0px 81px;
    font-weight: bold;
}
.page .under .thumbnail { width: 200px; height: 100%;float: left; }
.page .under .thumbnail img  { width:100% ;}
.page .under .share {  width: 564px; margin: 0 auto; display: none;  }
.page .under .share #primary { text-align: center; background: rgb(254,0,54); width: 278px; margin: 16px; border-radius: 10px; color: white; font-weight: bold; padding: 5px 22px; float: left; font-size: 19px;  }

.page .under .share #download { text-align: center; background: rgb(254,0,54); width: 277px; margin-left: -55px; border-radius: 10px; color: white; font-weight: bold; padding: 9px 12px; font-size: 19px; clear: both;display: inline-block;top: 10px;left: -16px; }

.footer{
    background: url('../img/images/background.jpg') no-repeat;
    width: 760px;
    height: 174px;
    padding-top: 45px;
}

#voteModal .modal-header{
    /*background: url('/img/placetogo-header.jpg');*/
    background-size: 100% 100% !important;
    height: 78px;
}
#vot {
    -webkit-transition:all 2s;
    transition:all 2s;
    opacity: 0;
}

#voteModal .modal-body .media{
    text-align: center;
    padding: 0px 0 26px;
    border-bottom: 1px solid gray;
    margin-bottom: 16px;
    position: relative;
    z-index: 0;
}
#voteModal .modal-body img {
    width: 100%;
}
#voteModal .modal-body .media:first-child{
  height: 299px;
}

#voteModal .modal-body .media iframe {
    width: 100% !important;
    position: relative;
    z-index: 0;
    position: absolute;
    z-index: 0;
    left: 0;
}
#voteModal .modal-content .blank{
    width: 100%;
    height: 0%;
    background: rgba(244,222,333,0.8);
    z-index: 99;
    position: absolute;
    -webkit-transition: all 6s;
    transition: all 0.5s;
    -webkit-transition-delay:0.5s;
    overflow: hidden;
}

#voteModal .modal-content .blank .thanks{
    background: #fff;
    width: 90%;
    margin: 139px 30px 30px;
    padding: 44px;
    text-align: center;
    height: 311px;
}

#voteModal .thanks .btn {
    margin: 13px;
    width: 162px;
}

#voteModal .thanks .close_thanks {
     position: absolute;top: 140px; right: 47px;font-stretch: expanded;cursor: pointer;
}

#points {
    position: absolute;
    top: 50%;
    right: -38%;
    z-index: 9000;
    background: rgba(233,312,321,1);
    padding: 20px 22px 10px;
    font-size: 20px;
    border-radius: 10px;
    -webkit-transition:all 1s;
    transition:all 1s;
}
.btn-primary{
    margin: 4px 5px ;
}
#entryTitle {
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px gray;
    height: 35px;
    overflow: hidden;
    font-size: 17px;
    width: 82%;
}

#generate .modal-body{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 28px;

}

.page .page-content .invite-friends-container { background-color: rgb(244,244,244); text-align: center; }
.page .page-content .schools-container .submit {  text-align: right; padding: 34px; }
.page .page-content .schools-container .submit .button {  text-align: right; padding: 34px; }

.page .page-content .invite-friends-container .share-wrapper .friends {  height: 600px; overflow: auto;  }
.page .page-content .invite-friends-container .share-wrapper .friends .friends-list {  margin-left: -60px;  }
.page .page-content .invite-friends-container .share-wrapper .friends .friends-list .friend{
   display: inline-block;
    width: 253px;
    padding: 33px;
    cursor: pointer;
    float: left;

}
.page .page-content .invite-friends-container .share-wrapper .friends .friends-list .friend:hover {
    background:rgb(192,192,192);
}
.page .page-content .schools-container .loader {
    position: absolute;
    width: 50px;
    top: 12%;
    left: 45%;
}
@media (min-width: 700px){
    #mechanicsModal .modal-content {
     width: 682px; left: 4%; 
    }
}
@media (min-width: 700px){
    #mechanicsModal .modal-content {
     width: 682px; left: 4%; 
    }
}
.main .container .content .bottom li a {
    color: #fff;
}
#mechanicsModal .carousel-indicators li{
    border: 1px solid rgb(211,8,0) !important;

}
#mechanicsModal .carousel-indicators li.active{
    background-color: rgb(211,8,0) !important;
}
#mechanicsModal .carousel-inner {
    height: 555px;
}
#mechanicsModal .carousel-inner .item{
    
    height: 383px;
    text-align: center;
    padding: 45px;
}
#mechanicsModal .carousel-caption {

color: rgb(50,50,50);
bottom: -145px;
left: 4%;
right: 20%;
width: 600px;
padding-bottom: 30px;
font-size: 18px;
}

#mechanicsModal .bg,#faqsModal .bg{
    background: url('../img/images/background.jpg') no-repeat;
    background-size: cover;
    width: 100%;
    height: 174px;
}
#infoModal {
    display: block;
    left: 20%;
}
#infoModal .modal-content{
    width: 402px;
}

#infoModal .modal-content .modal-header{
    background: rgb(1,146,255);
    color: white;
    height: 48px;
    font-size: 12px;
    padding: 1px 0px;
}
#infoModal .modal-content .modal-header h1{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

#infoModal .modal-content .modal-body form {
    text-align: center;

}
#infoModal .modal-content .modal-body form  label {
    margin-bottom: 0px;
       width: 100%;
}
#infoModal .modal-content .modal-body form input[type=text]{
    border: 2px solid rgb(1,146,255);
    background: rgb(234,234,234);
    padding: 6px 13px;
    width: 282px;
    margin: 2px 12px 17px 12px;
}
#infoModal .modal-content .modal-body form  #submitInfo {
    background: rgb(29,46,62);
    color: #fff;
    padding: 5px 58px;
    font-size: 17px;
}

.closes{
              position: absolute;
              top: 2px;
              right: 1px;
              background: url('/img/close.png');
              width: 40px;
              height: 40px;
              z-index: 222;
              cursor: pointer;
            }
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-light-webfont.woff') format('woff'),
         url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-light-webfont.svg#proxima_novalight') format('svg');
    font-weight: lighter;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanova-regular-webfont.eot');
    src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-regular-webfont.woff') format('woff'),
         url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
         url('../fonts/proximanova-semibold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-semibold-webfont.svg#proxima_novasemibold') format('svg');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'proxima_nova';
    src: url('../fonts/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proximanova-bold-webfont.woff') format('woff'),
         url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
         url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: bold;
    font-style: normal;
}


#voteModal .nav-tabs {
    border-bottom: 4px solid rgb(45,62,80);
    margin-bottom: 10px;
}
#voteModal .nav-tabs > li > a{
    color: rgb(45,62,80);
}
#voteModal .nav-tabs > li > a:hover{
    background-color: none;
}
#voteModal .nav-tabs > li.active > a {
    color: #fff;
    background-color: rgb(45,62,80);
}
.slideLeft{
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;  

    animation-duration: 1s; 
    -webkit-animation-duration: 1s;

    animation-timing-function: ease-in-out; 
    -webkit-animation-timing-function: ease-in-out;     

    visibility: visible !important; 
}

@keyframes slideLeft {
    0% {
        
    }
   
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes slideLeft {
    0% {
        -webkit-transform: translateX(100%);
    }
    
    100% {
        -webkit-transform: translateX(0%);
    }
}
